.container{
    width: 60vw !important;
    margin-top: 20px;
}

.note{
    padding: 10px !important;
    width :100%;
    line-break: auto;
    word-break: break-all;
}

.paper{
    padding-top: 10px;
}

@media only screen and (max-width: 600px) {
    .container{
        width: 100vw !important;
    }
}